.action-card {
  width: 28.9vw;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 1.5vw; }
  .action-card__content-wrapper {
    padding: 1vw; }
  .action-card__title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1.5vh;
    color: #89C540;
    height: 8vh; }
  .action-card__descritpion {
    color: #777F80;
    height: 11vh;
    overflow: hidden; }
  .action-card__image {
    height: 36vh;
    width: 100%;
    background-size: cover !important; }
  .action-card__color-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45.5vh; }
  .action-card__image-text {
    color: #FFF;
    font-size: 2.2em;
    font-weight: 700;
    text-align: center; }
  .action-card__progress-bar {
    width: 100%;
    height: 32px;
    margin-top: 2vh; }
  .action-card__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 3vh auto 0 auto; }
  .action-card__button {
    text-decoration: none;
    width: 37%;
    height: 5vh; }
    .action-card__button--green {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #FFF;
      text-decoration: none;
      outline: none;
      border-width: 2px 0;
      border-style: solid none;
      border-color: #89C540;
      background: #89C540;
      transition: .35s; }
      .action-card__button--green:hover {
        background: #73A834;
        border-color: #73A834; }
    .action-card__button--grey {
      border: 1px solid #777F80;
      color: #777F80; }
  .action-card__needed {
    text-align: center;
    margin-top: 1vh;
    font-size: .8em; }

.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F4F4F4; }
  .progress-bar__progress {
    height: 100%;
    width: 0;
    background-color: #89C540;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    will-change: width;
    transition: width 1s ease; }
  .progress-bar__text {
    position: absolute;
    width: 100%;
    text-align: center; }

.dropdown {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-around;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  height: 0;
  will-change: height;
  transition: height 0.5s ease; }
  .dropdown--full-width {
    box-shadow: none;
    width: 100%;
    margin-top: 5vh;
    z-index: 50; }
  .dropdown--active {
    height: 42vh; }
  .dropdown__amounts {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; }
  .dropdown__amount {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1.3em;
    margin-bottom: 2vh; }
  .dropdown__submit {
    width: 50% !important;
    padding: 3% !important;
    text-align: center;
    height: auto !important;
    margin-top: 1vh !important;
    border: none;
    font-size: 1.3em !important; }
  .dropdown__radio-outside {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: solid 2px #DDD;
    margin-right: .5vw; }
    .dropdown__radio-outside--checked .dropdown__radio-inside {
      opacity: 1; }
  .dropdown__radio-inside {
    border-radius: 50%;
    background-color: #89C540;
    opacity: 0;
    transition: opacity .2s ease;
    width: 1.5vw;
    height: 1.5vw; }
  .dropdown input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
  padding: 0 3vw;
  height: 14vh;
  -webkit-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.75); }
  .header__logo {
    width: 12vh;
    height: 12vh;
    background: url("/resources/logo.jpg");
    background-size: contain; }
  .header__menu {
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em; }

.actions {
  margin-top: 5vh; }
  .actions__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 1.5vw;
    margin-top: 5vh; }

.piggybank-wrapper {
  font-family: 'Roboto Condensed', sans-serif;
  width: 94vw;
  padding: 5vh 3vw;
  display: flex;
  justify-content: space-between; }

.piggybank {
  width: 60vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .piggybank__photo {
    height: 45vh;
    width: 100%;
    background-size: cover !important; }
  .piggybank__article-wrapper {
    padding: 3vh 4vw; }
  .piggybank__title {
    font-size: 2em;
    font-weight: 700;
    color: #89C540;
    line-height: 1.3em; }
  .piggybank__article {
    margin-top: 3vh;
    color: #777F80;
    line-height: 1.4em; }

.piggybank-aside {
  width: 30vw;
  height: 30vh; }
  .piggybank-aside__element {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: calc(100% - 4vw);
    padding: 2vw;
    margin-bottom: 4vh; }

.aside-stats__progress-bar {
  height: 5vh;
  margin-top: 2vh; }

.aside-stats__needed {
  margin-top: 1vh; }

.aside-stats__support {
  width: 80%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
  color: #FFF;
  margin: 5vh auto 0;
  display: flex;
  background-color: #89C540;
  cursor: pointer; }

.aside-share {
  width: 100%; }
  .aside-share__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 6vh;
    margin: 0 auto;
    background-color: #3b5998;
    color: #FFF;
    font-size: 1.2em;
    cursor: pointer; }
    .aside-share__button i {
      margin-right: 10px; }
  .aside-share__counter {
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
    font-size: 1.3em; }
  .aside-share__embed {
    display: block;
    color: #89C540;
    margin-top: 2vh;
    text-align: center;
    text-decoration: none; }

.donors-table {
  margin: 2vh auto 0;
  width: 85%;
  border-collapse: collapse; }
  .donors-table__row:not(:last-child) {
    border-bottom: solid 1px #DDD; }
  .donors-table__name {
    width: 85%;
    padding: 1vh 0; }
  .donors-table__amount {
    width: 15%;
    padding: 1vh 0; }


body {
  overflow-x: hidden; }

a {
  cursor: pointer; }

.header__1 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0; }

.header__underline {
  width: 5%;
  height: 4px;
  background-color: #89C540; }

.header__container {
  margin-left: 3vw; }

