@import "../scss/variables";

.dropdown {
    width: 80%;
    margin: 0 auto;
    background-color: #FFF;
    // padding: 3vh 1vw;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: space-around;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    height: 0;
    will-change: height;
    transition: height 0.5s ease;

    &--full-width{
      box-shadow: none;
      width: 100%;
      margin-top: 5vh;
      z-index: 50;
    }

    &--active {
        height: 42vh;
    }

    &__amounts {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__amount {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 1.3em;
        margin-bottom: 2vh;
    }

    &__submit {
        width: 50% !important;
        padding: 3% !important;
        text-align: center;
        height: auto !important;
        margin-top: 1vh !important;
        border: none;
        font-size: 1.3em !important;
    }

    &__radio-outside {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        border: solid 2px map-get($colors, borders);
        margin-right: .5vw;

        &--checked {
            .dropdown__radio-inside {
              opacity: 1;
            }
        }
    }

    &__radio-inside {
        border-radius: 50%;
        background-color: map-get($colors, green);
        opacity: 0;
        transition: opacity .2s ease;
        width: 1.5vw;
        height: 1.5vw;
    }

    input[type="radio"] {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
