<html>
<head>
    <title>Formularz</title>
</head>
<body>
<center><h1>Formularz</h1></center>
<form action="/add_piggybank">

    <p><b>Podaj nazwe:</b><br/>
        <input name="name"></input>
    </p>
    <p><b>Glowny cel</b>
        <input name="target"></input>

    </p>

    <p><h2>Opisanie krótkie</h2>
    <input name="description"></input>
    </p>
    <h4>Opisanie dlugie</h4>
    <input name="long_description"></input>
    <input type="submit" value="Wyslij"></input>
</form>
</body>
</html>