<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formularz</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
<center><h1>Formularz</h1></center>

<form action="/" method="post">
  <p><b>Podaj nazwe:</b><br>
    <input name="name"></input>
</p>
    <p><b>Glowny cel</b>
        <input name="target"></input>
    </p>
</form>
</body>
</html>