<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formularz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            background-color: #FFEFD5;
        }
        div {
            background-color: #C0C0C0;
            text-align: left;
        }
    </style>
</head>
<body>


<form action="/piggybanks">

        <center><p>Zbiórka</p></center>

        <p>W jakich celach zbórka</p>
        <input name="city" />
        <p>Data</p>



        <input type="submit" value="Search"/>
    </form>

</body>
</html>