<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Evence</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


    Nazwa: <span th:text="${piggyBank.name}"></span>
        Miasto: <span th:text="${piggyBank.city}"></span>
        Cel: <span th:text="${piggyBank.target}"></span>
        Uzbierano: <span th:text="${piggyBank.current}"></span>
        %: <span th:text="${piggyBank.percentRaised}"></span>

<form action="delete">
    <input type="hidden" th:value="${piggyBank.id}" name="id"/>
    <input type="submit" value="Usuń"/>
</form>

</body>
</html>