<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Tytuł</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="resources/normalize.css" />
    <link rel="stylesheet" href="resources/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__logo"></div>
            <div class="header__menu">
                <div class="menu__option">Trwające akcje</div>
                <div class="menu__option">Archiwalne</div>
                <div class="menu__option">Zobacz efekty</div>
            </div>
        </header>


        <main class="actions">
            <div class="header__container">
                <h1 class="header__1 actions__title">Aktualne zbiórki</h1>
                <div class="header__underline"></div>
            </div>
            <div class="actions__grid">

              <div class="action-card" th:each="piggyBank:${piggyBanks}">
                <div class="action-card__image" style="background: url('resources/ob.jpg')"></div>
                <div class="action-card__content-wrapper">
                    <div class="action-card__title" th:text="${piggyBank.name}">Tato, ja ciągle na Ciebie czekam... - zbiórka na rehabilitację</div>
                    <div class="action-card__descritpion">To jest krótki opis mający w skrócie opowiedzieć, na co zostaną wykorzystane pieniądze. Lorem ipsu</div>
                    <div class="action-card__progress-bar progress-bar" th:attr="data-current=${piggyBank.current}, data-target=${piggyBank.target}">
                      <div class="progress-bar__progress"></div>
                      <div class="progress-bar__text"><span th:text="${piggyBank.current}"> zł</span> (<span th:text="${piggyBank.percentRaised}"></span>%)</div>
                    </div>
                    <div class="action-card__needed">Brakuje nam <span th:text="${piggyBank.misingAmount}"></span> zł z <span th:text="${piggyBank.target}"></span></div>
                    <div class="action-card__buttons">
                      <a href="" th:href="'/piggybank?id=' + ${piggyBank.id}" class="action-card__button action-card__button--green">Więcej</a>
                      <a href="" th:href="'https://ssl.dotpay.pl/test_payment/?id=727904&amp;kwota=123&amp;opis=aaaa&amp;control='+${piggyBank.id}" class="action-card__button action-card__button--green">Wesprzyj</a>
                    </div>
                </div>
              </div>

            </div>
        </main>
        <footer>

        </footer>
    </div>
    <script src="resources/piggybanks.js"></script>
</body>

</html>
