<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <base href="/" />
    <title th:text="${piggyBank.name}"></title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta property="og:image" th:attr="content=${piggyBank.url_image}" />
    <meta property="og:description" th:attr="content=${piggyBank.description}" />
    <link rel="stylesheet" href="/resources/normalize.css" />
    <link rel="stylesheet" href="/resources/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="container">
        <header class="header">
            <a href="/">
                <div class="header__logo"></div>
            </a>
            <div class="header__menu">
                <div class="menu__option">Trwające akcje</div>
                <div class="menu__option">Archiwalne</div>
                <div class="menu__option">Zobacz efekty</div>
            </div>
        </header>


        <div class="piggybank-wrapper">
            <main class="piggybank" data-subpage="piggybank">
                <div class="piggybank__photo" style="background: url('assets/ob.jpg')"></div>

                <div class="piggybank__article-wrapper">
                    <div class="piggybank__title" th:text="${piggyBank.name}"></div>
                    <div class="piggybank__article" th:text="${piggyBank.longDescription}">

                    </div>
                </div>
            </main>

            <aside class="piggybank-aside">
                <div class="piggybank-aside__element piggybank-aside__stats">
                    <div class="piggybank__title">Ile już zebraliśmy?</div>
                    <div class="progress-bar aside-stats__progress-bar" data-current="383000" data-target="1520000">
                        <div class="progress-bar__progress"></div>
                        <div class="progress-bar__text"><span th:text="${piggyBank.current}"></span> zł (<span th:text="${piggyBank.percentRaised}"></span>)%</div>
                    </div>
                    <div class="aside-stats__needed" th:text="'Brakuje nam '+${piggyBank.misingAmount}+' z '><span th:text=" ${piggyBank.target} "></span></div>
                <div class="aside-stats__support dropdown-btn "><span>Wspomóż</span></div>
                <div class="dropdown ">
                  <form target=" ">
                    <ul class="dropdown__amounts ">
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="10 " /><span class="outer "><span class="inner "></span><label>10 zł</label></li>
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="20 " /><span class="outer "><span class="inner "></span><label>20 zł</label></li>
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="50 " /><span class="outer "><span class="inner "></span><label>50 zł</label></li>
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="100 " /><span class="outer "><span class="inner "></span><label>100 zł</label></li>
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="250 " /><span class="outer "><span class="inner "></span><label>250 zł</label></li>
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="500 " /><span class="outer "><span class="inner "></span><label>500 zł</label></li>
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="1000 " /><span class="outer "><span class="inner "></span><label>1000 zł</label></li>
                      <li class="dropdown__amount "><input type="radio " name="amount " class="dropdown__checkbox " value="3000 " /><span class="outer "><span class="inner "></span><label>3000 zł</label></li>
                    </ul>
                    <input type="submit " class="dropdown__submit aside-stats__support " value="Wpłać ">
                  </form>
                </div>
              </div>

              <div class="piggybank-aside__element piggybank-aside__share ">
                <div class="piggybank__title ">Podziel się na Facebook'u</div>

              <div class="aside-share__counter "><span id="sharesCounter ">Ładowanie</span> udostępnień</div>
                  <div class="button aside-share__button " id="shareBtn ">
                    <i class="fa fa-facebook fa-lg "></i>
                    <div>Udostępnij</div>
                  </div>
                  <a href=" " class="aside-share__embed ">Wstaw na stronę &lt;/&gt;</a>
              </div>

              <div class="piggybank-aside__element aside-donors ">
                <div class="piggybank__title ">Nasi darczyńcy</div>
                <table class="donors-table ">
                  <tr class="donors-table__row ">
                    <td class="donors-table__name ">Anonimowy Darczyńca</td>
                    <td class="donors-table__amount ">10000zł</td>
                  </tr>
                  <tr class="donors-table__row ">
                    <td class="donors-table__name ">Andrzej Gołota</td>
                    <td class="donors-table__amount ">5000zł</td>
                  </tr>
                  <tr class="donors-table__row ">
                    <td class="donors-table__name ">Mariusz Klimkiewicz</td>
                    <td class="donors-table__amount ">500zł</td>
                  </tr>
                </table>
              </div>
            </aside>
        </div>







        <footer>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
    <script src="scripts/piggybanks.js "></script>
</body>

</html>
