<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Evence</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<ul>

    <li th:each="piggyBank:${piggyBanks}">
        Nazwa: <a th:href="'piggybank?id='+${piggyBank.id}"><span th:text="${piggyBank.name}"></span></a>
        Miasto: <span th:text="${piggyBank.city}"></span>
        Cel: <span th:text="${piggyBank.target}"></span>
        Uzbierano: <span th:text="${piggyBank.current}"></span>
        %: <span th:text="${piggyBank.percentRaised}"></span>
    </li>
</ul>
</body>
</html>