<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Tytuł</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="resources/normalize.css" />
    <link rel="stylesheet" href="resources/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__logo"></div>
            <div class="header__menu">
                <div class="menu__option">Trwające akcje</div>
                <div class="menu__option">Archiwalne</div>
                <div class="menu__option">Zobacz efekty</div>
            </div>
        </header>


        <main class="actions" data-subpage="piggybanks">
            <div class="header__container">
                <h1 class="header__1 actions__title">Aktualne zbiórki</h1>
                <div class="header__underline"></div>
            </div>
            <div class="actions__grid">
                <div class="action-card" th:each="piggyBank:${piggyBanks}">
                    <div class="action-card__image" th:style="'background: url(\'' + ${piggyBank.url_image ?: '/resources/ob.jpg'} +'\')'"></div>
                    <div class="action-card__content-wrapper">
                        <div class="action-card__title" th:text="${piggyBank.name}">Tato, ja ciągle na Ciebie czekam... - zbiórka na rehabilitację</div>
                        <div class="action-card__descritpion" th:text="${piggyBank.description}">To jest krótki opis mający w skrócie opowiedzieć, na co zostaną wykorzystane pieniądze. Lorem ipsu</div>
                        <div class="action-card__progress-bar progress-bar" th:attr="data-current=${piggyBank.current}, data-target=${piggyBank.target}">
                            <div class="progress-bar__progress"></div>
                            <div class="progress-bar__text"><span th:text="${piggyBank.current}"> zł</span> (<span th:text="${piggyBank.percentRaised}"></span>%)</div>
                        </div>
                        <div class="action-card__needed">Brakuje nam <span th:text="${piggyBank.misingAmount}"></span> zł z <span th:text="${piggyBank.target}"></span></div>
                        <div class="dropdown dropdown--full-width">
                            <form action="https://ssl.dotpay.pl" method="post">
                                <ul class="dropdown__amounts ">
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="10" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>10 zł</label></li>
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="20" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>20 zł</label></li>
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="50" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>50 zł</label></li>
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="100" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>100 zł</label></li>
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="250" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>250 zł</label></li>
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="500" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>500 zł</label></li>
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="1000" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>1000 zł</label></li>
                                    <li class="dropdown__amount"><input type="radio" name="kwota" class="dropdown__checkbox" value="3000" />
                                        <div class="dropdown__radio-outside">
                                            <div class="dropdown__radio-inside"></div>
                                        </div><label>3000 zł</label></li>
                                </ul>
                                <input name="id" value="212604" type="hidden" />
                                <input name="lang" value="pl" type="hidden" />
                                <input name="opis" th:value="${piggyBank.name}" type="hidden" />
                                <input name="control" th:value="${piggyBank.id}" type="hidden" />
                                <input name="URL" value="https://swinka.herokuapp.com/all&amp;type=3" type="hidden" />
                                <input type="submit" class="dropdown__submit aside-stats__support" value="Wpłać" />
                            </form>
                        </div>
                        <div class="action-card__buttons">
                            <a th:href="'/piggybank?id=' + ${piggyBank.id}" class="action-card__button action-card__button--green">Więcej</a>
                            <span class="action-card__button action-card__button--green piggybanks__dropdown-button">Wesprzyj</span>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <footer>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/resources/piggybanks.js"></script>
</body>

</html>
