<head>
    <link rel="stylesheet" href="/resources/style.css" />
</head>
<form action="#" id='send' method='POST'>
    <fieldset>
        <label>Name</label>
        <input type='text' name='name' placeholder='Name' required="true"></input><span></span>
        <label>Surname</label>
        <input type='text' name='surname' placeholder='Surname' required="true"></input><span></span>
    </fieldset>
    <fieldset>
        <label>Email</label>
        <input type='email' name='email' placeholder='Email' required="true"></input><span></span>

        <label>Password</label>
        <input type='password' name='pass' placeholder='Password' required="true"></input><span></span>

        <label>Repeat</label>
        <input type='password' name='repeat' placeholder='Repeat password' required="true"></input><span></span>

    </fieldset>
    <fieldset>
        <p>Enter number form picture</p>
        <img src="https://c22blog.files.wordpress.com/2010/10/input-black.gif"></img>
        <input type='text' name='capcha' placeholder='число' required="true"></input><span></span>
    </fieldset>
    </form>
<div class="sum">
    <input type="submit" value="Registration" form='send'></input>
</div>